<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Flask Sample App</title>
</head>
<body>
    <h1>これは、app.py index()の表示です</h1>
    <nav class="top">
        <a href="/page2">ペ－ジ2へ</a>
        <a href="/page3">ペ－ジ3へ</a>
        <a href="/form_sample">フォームサンプルへ</a>
        <a href="/embed_sample">埋め込みサンプルへ</a>
        <a href="/login_sample">ログインサンプルへ</a>
    </nav>
</body>
</html>
