* {
    padding: 0;
    margin: 0;
}

.container {
    background-color: rgb(228, 23, 23);
    color: black;
    opacity: 80%;
}
.content {
    background-color: rgb(4, 70, 4);
    color: white;    
    opacity: 0.5;
}    color: black;
