<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../static/reset.css"> -->
    <link rel="stylesheet" href="../static/info.css">

    <title>会員管理アプリ</title>
</head>
<body>
    <div class="container">
        <div class="info_area">
            <header class="flex_area">
                <div class="title_area">
                    <p>会員情報</p>
                </div>
            </header>
            <main>
                <div class="table_area">
                    <table border="1">
                        <tbody>
                            <tr>
                                <th class="Item">名前</th>
                                <td class="Value" >{{Register_Info.name}}</td>
                            </tr>
                            <tr>
                                <th class="Item">生年月日</th>
                                <td class="Value">{{Register_Info.birthday}}</td>
                            </tr>
                            <tr>
                                <th class="Item">年齢</th>
                                <td class="Value">{{Register_Info.age}}</td>
                            </tr>
                            <tr>
                                <th class="Item">性別</th>
                                <td class="Value">{{Register_Info.gender}}</td>
                            </tr>
                            <tr>
                                <th class="Item">住所</th>
                                <td class="Value">{{Register_Info.address}}</td>
                            </tr>  
                        </tbody>
                    </table>       
                </div>
            </main>
        </div>
        <!-- <div class="blank_area"></div> -->
        <div class="button_area">
            <div class="logout_button_area btn">
                <p><a class="button_text" href="/logout_general">ログアウト</a></p>
            </div>
            <div class="edit_button_area btn">
                <p><a class="button_text" href="/edit">変更</a></p>
            </div>
        </div>
    </div>    
</body>
</html>